ul{
    list-style-type:none ;
}
.comment-box{
  margin: 0;
  display: block;  
  border: 1px solid rgba(0, 0, 0, 0.158);
  margin-bottom: 10px;
  border-radius: 0px 9px 9px 9px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.274);
}
.comment-head{
  padding: 10px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}
.comment-subject{
  font-size: 11px;
  font-weight: bold;
  margin: auto;
  margin-left: 10px;
  padding-left: 3px;
  padding-right:3px;
  color: rgb(255, 255, 255);
  background: rgb(22, 95, 143);
  border-radius: 5px;
}
.comment-name{
    margin-left: 10px;
    font-size: 18px;
    color: rgb(54, 54, 54);
    text-transform: uppercase;
}
.comment-content{
    color: rgb(54, 54, 54);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-left: 20px;
    text-align: justify;
}
.comment-label{
    color: rgb(170, 170, 170);
    font-size: 11px;
    margin: auto;
    margin-left: 10px;
    margin-right: 0;
}
@media screen and (max-width: 767px) {
  .comment-label{
    margin-left: 10px;
  }
  .btnsmall{
      width: 8em;
      height: 2.3em;
      font-size: 90%;
  }
  .comment-name{
    font-size: 15px;
  }
  .comment-label{
    font-size: 11px;
  }
  .comment-subject{
    font-size: 11px;
  }
}
@media screen and (max-width: 569px) {
  .comment-content{
    font-size: 10px;;
  }
  .comment-label{
    margin-left: 5px;
  }
  .btnsmall{
      margin-bottom: 5px;
      width: 7.8em;
      height: 2.5em;
      font-size: 70%;
  }
  .comment-name{
    font-size: 10px;
    font-weight: bold;
  }
  .comment-label{
    font-size: 8px;
  }
  .comment-subject{
    font-size: 8px;
  }
}