.lbl-recibido{
    background-color: rgb(240, 128, 63);
    color: white;
    border-radius: 5px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.lbl-entregadoP{
    background-color: rgb(50, 156, 182);
    color: white;
    border-radius: 5px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.lbl-reparado{
    background-color: rgb(65, 114, 0);
    color: white;
    border-radius: 5px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.lbl-baja{
    background-color: rgb(212, 56, 56);
    color: white;
    border-radius: 5px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.lbl-entregadoU{
    background-color: rgb(43, 185, 14);
    color: white;
    border-radius: 5px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.lbl-none{
    background-color: rgb(122, 122, 122);
    color: white;
    border-radius: 5px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.lbl-comments{
    background-color: rgb(172, 172, 172);
    font-size: 11px;
    position: absolute;
    margin-left: 55%;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
@media screen and (max-width: 1200px) {
    .lbl-comments{
        font-size: 11px;
        margin-left: 45%;
    }
  }
@media screen and (max-width: 580px) {
    .lbl-comments{
        font-size: 9px;
        margin-left: 40%;
    }
  }