.split {
    height: 100%;
    width: 50%;
}

/* Control the left side */
.left {
    display: inline-block;
    float: left;
}

/* Control the right side */
.right {
    display: inline-block;
    float: right;
}

.ReceipArticle {
    width: 100%;
    height: 100%;
}


.article {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 700px;
}

    .article h6 {
        opacity: 0.6;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .article h2 {
        letter-spacing: 1px;
        margin: 10px 0;
    }
.article-preview {
        background: linear-gradient(to bottom right, rgb(103, 179, 250),rgb(0, 99, 192));
        color: #fff;
        padding: 30px;
        max-width: 250px;
 }
.article-preview-recibido {
    background: linear-gradient(to bottom right, rgb(250, 157, 103),rgb(216, 110, 49));
    color: #fff;
    padding: 30px;
    max-width: 250px;
}
.article-preview-entregadoP {
    background: linear-gradient(to bottom right, rgb(87, 170, 190),rgb(40, 144, 170));
    color: #fff;
    padding: 30px;
    max-width: 250px;
}
.article-preview-reparado {
    background: linear-gradient(to bottom right,rgb(133, 194, 54),rgb(64, 105, 9));
    color: #fff;
    padding: 30px;
    max-width: 250px;
}
.article-preview-baja {
    background: linear-gradient(to bottom right,rgb(250, 119, 119),rgb(180, 46, 46));
    color: #fff;
    padding: 30px;
    max-width: 250px;
}
.article-preview-entregadoU {
    background: url("/Resources/ok.png") no-repeat center, linear-gradient(100deg, rgb(104, 219, 110) 10%, rgb(87, 218, 36) 100%);
    background-size: contain;
    opacity: 20;
    color: rgb(255, 255, 255);
    padding: 30px;
    max-width: 250px;
}

    .article-preview a {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        opacity: 0.6;
        margin-top: 30px;
        text-decoration: none;
    }

.article-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
}

.progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

    .progress::after {
        border-radius: 3px;
        background-color: #2A265F;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 66%;
    }

.progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
}
@media (max-width: 544px) { 
    .btn-article{
        width: 80px;
        height: 40px;
        font-size: 12px!important;
        padding-left: 1.5rem!important;
    }
}
.btn-article {
    background: linear-gradient(to bottom right, rgb(99, 179, 255),rgb(1, 87, 168));
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.btn-article:hover{
    color: #ffffff;
    background: linear-gradient(to bottom right, rgb(226, 88, 88),rgb(206, 21, 21));
    animation-delay: 10s, 30s, 230ms;
}


